<div class="container course">
	<h1 class="center-align">{{course.title}}</h1>

	<img src={{course.image}} alt={{course.title}} class="responsive-img">

	<p class="price big">{{course.price}}</p>
</div>